@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f5bf00;
}

.parent {
  width: 100%;
  height: 100vh;
  display: flex;
}

.main {
  width: 100%;
  background: url("/images/bg_game.png");
  position: relative;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin-right: 30px;
  margin-left: 30px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 14px;
  font-family: "Roboto";
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.cover-heading {
  font-family: "Roboto";
  font-size: 60px;
  color: white;
  font-weight: bold;
  margin-left: 30px;
}

.btn-cover {
  background-color: #f5bf00;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  height: 60px;
  margin-left: 30px;
}

.mid-pic {
  position: relative;
  right: 22%;
}
.soilder-pic {
  height: 100vh;
}

.slider-dot {
  display: flex;
  align-items: center;
}
.dot-container {
  list-style-type: none;
}

.dot-container li {
  margin-right: 30px;
  margin-bottom: 30px;
}

.dot-container li a div {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50px;
}
